<div class="container-fluid" style="align:center;">
    <main class="content">
        <header>
            <div class="logo topright">
                <div class="square">
                    Food
                </div>
            </div>
        </header>
        <div class="appIcon">
            <img src="/img/burger-vector-png-3.png" alt="burger" id="appIcon">
        </div>
        <div class="title">Eat Da Burger!</div>
        <form action={{action}} method="POST" class="submit-form">
            {{!-- THIS IS THE BURGER LABEL --}}
            <label for="name">Burger Name</label>
            <br />
            <input type="hidden" name="id" value={{id}}>
            <input type="text" min="2" max="100" class="text-area" id="name" name="name"
                placeholder="Enter burger name here...." value={{name}}>
            <div class="submit-button">
                <button type="button" class="submitBtn" id="button-submit">Submit</button>
            </div>
        </form>
        <div class="row">
            <div class="column">
                <div class="havent-eaten-container">
                    <div class="burgers-title">Haven't Eaten</div>
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <form action="/{{this.id}}" method="POST" class="havent-burgers">
                        <input type="hidden" name="name" value={{this.name}}>
                        <div type="button" class="btn btn-warning burgers_not_devoured">
                            <div class="burgers-icon">
                                <img src="/img/burger-vector-png-3.png" alt="burger" id="burgersIcon">
                            </div>
                            {{this.name}}
                        </div>
                    </form>
                    <form action="/{{this.id}}" method="POST">
                        <button type="submit" class="btn btn-link"><i class="fa fa-times"aria-hidden="true"></i></button>
                    </form>
                    <form action="/{{this.id}}" method="GET">
                        <button type="submit" class="btn btn-link"><i class="fa fa-pencil-square-o"aria-hidden="true"></i></button>
                    </form>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="column">
                <div class="eaten-burgers-container">
                    <div class="eaten-burgers-title">Eaten</div>
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <button type="button" class="btn btn-success burgers_devoured">{{this.name}}</button>
                    <form action="/{{this.id}}" method="POST">
                        <button type="submit" class="btn btn-link"><i class="fa fa-times"aria-hidden="true"></i></button>
                    </form>
                    <form action="/{{this.id}}" method="GET">
                        <button type="submit" class="btn btn-link"><i class="fa fa-pencil-square-o"aria-hidden="true"></i></button>
                    </form>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </main>
</div>